@import "../../common/styles/global";

.trade-graph-container{
  position: absolute;
  display: block;
  height: $trading-graph-overall-height;
  width: 100%;
  top:$top-empty-margin+$top-nav-height+$trading-capital-height;
  left: 0;
}
