@import "../../common/styles/global";


.trading-capital-container{
  position: absolute;
  display: flex;
  top:$top-empty-margin+$top-nav-height;
  left:$global-side-margin;
  width: 100vw-$global-side-margin*2;
  height:$trading-capital-height;
  padding:0;
  margin:0;
}

.capital-amount{
  position: absolute;
  display: block;
  top:6.05vh;
  left:0;
  color:$white-font-color;
  font-size: 4vh;
  font-weight: 400;
}

.balance-value{
  color:$white-font-color;
}

.trading-capital-title{
  position:absolute;
  display: block;
  top:3vh;
  left:0;
  font-size: 1.8vh;
  text-transform: uppercase;
}

.move-down{
  top:7.7vh;
}