@import "../../common/styles/global";

.time-range-button{
  display: flex;
  height: $time-range-button-height;
  width: $time-range-button-width;
  border:1px solid $timerange-border-inactive;
  border-radius: $time-range-button-height*.8;
  align-items: center;
  justify-content: center;
}
.time-range-button h5{
  font-size: 1.8vh;
  display: block;
  color:$timerange-letters-inactive;
}

.time-range-button-active{
  border-color:$white-font-color;
  background-color: $trade-graph-fill-end-color;
}

.time-range-button-active h5{
  color: $white-font-color;
}

/* For screens that are more than 750px  */
@media screen and (min-width: 751px) {
  .time-range-button h5{
    font-size: 1.4vh;
  }
  .active h5{
    color: $white-font-color;
  }
}