@import "../../common/styles/global";

//flex-container distributing menu items
.bottom-menu-container{
  position: absolute;
  display: flex;
  bottom: 0;
  width:100%;
  height: 9.5vh;
  flex-flow: row nowrap;
  justify-content:space-evenly;
  background-color: $bottom-toolbar-background-color;
}

//flex-container for markup INSIDE each menu items - I use this class inside each single bottom-menu-item component, but declare it here
.bottom-menu-item-container{
  display: flex;
  padding-top: 1.5vh;
  width:18vw;
  height:6.8vh;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.bottom-menu-item-container h6{
  color:$timerange-letters-inactive;
  font-size:1.5vh;
  letter-spacing: 0.25vw;
}

.active h6{
  color: $white-font-color;
}

.active svg{
  stroke:$white-font-color;
  fill:$white-font-color;
}