@import "../../common/styles/global";

.dashboard-container{
  position: absolute;
  display: flex;
  top:1vh;
  width:14vw;
  height:6.4vh;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.dashboard-icon-container{
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5vh;

}

.dashboard-icon-part-container{
  display: block;
  top:-0.1vh;
  right: 0;
  width:10vw;
  height:1vh;
  @include vendor('transform', 'scale(1.1,1.1)');
}

.dashboard-icon-part-container svg{
  @include vendor('transform', 'scale(9,9) translate(5%,45%)');
  stroke:$timerange-letters-inactive;
  fill:$timerange-letters-inactive;
  width:100%;
  height:100%;
}

.dashboard-container h6{
  color:$timerange-letters-inactive;
  font-size:1.5vh;
  letter-spacing: 0.25vw;
}

.active h6{
  color: $white-font-color;
}

.active svg{
  stroke:$white-font-color;
  fill:$white-font-color;
}
