@import "../../common/styles/global";

:export {
  yellow_Dark: $yellow-bot-dark;
  yellow_Light:$yellow-bot-light;

  orange_Dark:$orange-bot-dark;
  orange_Light:$orange-bot-light;

  blue_Dark:$blue-bot-dark;
  blue_Light:$blue-bot-light;

  green_Dark:$green-bot-dark;
  green_Light:$green-bot-light;

  red_Dark:$red-bot-dark;
  red_Light:$red-bot-light;

  white_Dark: $white-bot-dark;
  white_Light:$white-bot-light;
}