$main-background-color:#112135;
$main-bleak-color:#4D5F77;
$white-font-color:#FFFFFF;
$trade-graph-outline-color:#0083E9;
$trade-graph-fill-start-color:#004E88;
$trade-graph-fill-end-color:#0B2841;
$trading-graph-horisontal-lines:#6b92af;
$trade-margin-color:#5DA753;
$trade-loss-color:#F2427D;
$bot-button-background-color:#1C293E;

$orange-bot-dark:#FF5900;
$orange-bot-light:#FF6400;

$blue-bot-dark:#0086B3;
$blue-bot-light:#0095C7;

$green-bot-dark:#54964A;
$green-bot-light:#5DA753;

$red-bot-dark:#FB1303;
$red-bot-light:#FF1704;

$yellow-bot-dark:#F0C500;
$yellow-bot-light:#FFDB00;
