//vertical
$top-empty-margin:3vh;
$top-nav-height:3vh;
$trading-capital-height:14vh;
$trading-graph-height:25vh;
$trading-graph-overall-height:29vh;
$bot-buttons-height:30vh;
$time-range-menu-height:4vh;



//horizontal
$global-side-margin:4vw;