@import "vendor";
@import "colors";
@import "distances";
@import "sizing";



html{
  font-family: 'Roboto', sans-serif;;
  height:100vh;
  width:100vw;
}

body{
  height:100%;
  width:100%;
  overflow: hidden;
  background-color: $main-background-color;
  color:$main-bleak-color;
}

h1,h2,h3,h4,h5,h6,p,div,a,span{
  padding:0;
  margin:0;
}
