@import "vendor";
@import "colors";
@import "distances";


//import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,500,400,300');


html{
  font-family: 'Open Sans', Helvetica, sans-serif;
  height:100vh;
  width:100vw;
}

body{
  height:100%;
  width:100%;
  overflow: hidden;
  background-color: $main-background-color;
  color:$main-bleak-color;
}