@import "../../common/styles/global";

.refresh-button{
  position: absolute;
  display: block;
  top:-0.1vh;
  right: 0;
}

.refresh-button:hover{
  cursor: pointer;
}

.refresh-button svg {
  stroke:$main-bleak-color;
  fill:$main-bleak-color;
  width:5vh;
  height:5vh;

}