@import "../../common/styles/global";

.top-nav-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:$top-empty-margin;
  left:5vw;
  width: 90vw;
  height: $top-nav-height;
}

.screen-name{
  font-size: $top-nav-height*.75;
}
