$toggle-button-height:2.5rem;
$toggle-button-width:2.5rem;

.navbar-toggle-button{
  height:$toggle-button-height;
  width: $toggle-button-width;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggle-button:focus{
  outline: none;
}

.navbar-toggle-button-line{
  width: $toggle-button-width;
  height: $toggle-button-width*.05;
  background-color: azure;
}