@import "../../common/styles/global";

.bot-buttons-container{
  position: absolute;
  top:$top-empty-margin+$top-nav-height+$trading-capital-height+$trading-graph-overall-height+2vh;
  left: $global-side-margin;
  height:30vh;
  width:92vw;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2px;
}